---
import { UsefulPost } from "@/types/entities/Useful";
import UsefulCard from "./UsefulCard.astro";

type Props = {
    useful: UsefulPost[];
    lengths?: number[];
};

const { useful, lengths } = Astro.props;
const items = useful.map((item, index) => ({
    ...item,
    // length: lengths && lengths[index],
}));
---

{
    items
        .sort((a, b) => a.title.localeCompare(b.title))
        .map((post) => (
            <div class="post-wrapper">
                <UsefulCard {...post} />
            </div>
        ))
}
